.container{
    min-height: 400px;
    width: 100%;
    position: relative;
}

.container h1{
    margin-top: 10px;
}

.article a{
    font-size: 18px;
    color: black;
}

@media (max-width:950px){
    .article a{
        font-size: 17px;
        color: black;
    }
}

@media (max-width:450px){
    .article a{
        font-size: 16px;
        color: black;
    }
}