.container{
    width: 100%;
    top:0;
    right: 0;
    position: relative;
    overflow: hidden;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1220px;
    max-width: 95%;
    height: 100%;
    margin: 20px 0;
}

@media (max-width:950px) {
    .content{
        padding-top: 65px;
    }
}