.container{
    display: flex;  
    padding: 20px 0;
    overflow: auto;
}

.exampleSign{
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    overflow: auto;
}

.markdownExample{
    min-height: 100%;
    background-color: #1E1E1E;
    color: white;
    padding: 20px 10px;
    width: 50%;
    overflow: auto;
}

.htmlExample{
    min-height: 100%;
    background-color: rgb(232, 234, 240);
    padding: 20px 10px;
    width: 50%;
    overflow: auto;
}
ol, ul{
    padding-left: 20px;
    margin: 0;
}
